{{ $bootstrapCss := resources.Get "css/bootstrap.min.css" }}
{{ $fontAwesomeCss := resources.Get "css/font-awesome.min.css" }}
{{ $googleFontsCss := resources.Get "css/google-fonts.min.css" }}
{{ $fancyboxCss := resources.Get "css/fancybox.min.css" }}
{{ $themeCss := resources.Get "css/style.css" }}
{{ if eq hugo.Environment "development" }}
  <link rel="stylesheet" type="text/css" href="{{ $bootstrapCss.RelPermalink }}">
  <link rel="stylesheet" type="text/css" href="{{ $fontAwesomeCss.RelPermalink }}">
  <link rel="stylesheet" type="text/css" href="{{ $googleFontsCss.RelPermalink }}">
  <link rel="stylesheet" type="text/css" href="{{ $fancyboxCss.RelPermalink }}">
  <link rel="stylesheet" type="text/css" href="{{ $themeCss.RelPermalink }}">
{{- else }}
  {{ $mergedCss := slice $bootstrapCss $fontAwesomeCss $googleFontsCss $fancyboxCss $themeCss | resources.Concat "css/style.css" | minify }}
  <link type=text/css rel=stylesheet href="{{ $mergedCss.RelPermalink }}" integrity="{{ $mergedCss.Data.Integrity }}">
{{- end }}
