{{ $jQuery := resources.Get "js/jquery.min.js" }}
{{ $headerJs := resources.Get "js/script-header.js" }}
{{ if eq hugo.Environment "development" }}
  <script src="{{ $jQuery.RelPermalink }}"></script>
  <script src="{{ $headerJs.RelPermalink }}"></script>
{{- else }}
  {{ $mergedJs := slice $jQuery $headerJs | resources.Concat "js/header.min.js" | minify }}
  <script src="{{ $mergedJs.RelPermalink }}" integrity="{{ $mergedJs.Data.Integrity }}"></script>
{{- end }}
