{{ define "main" }}
{{ $isSidebarEnabled := or (not (isset .Params "sidebar")) .Params.sidebar }}
{{ $isHeadEnabled := or (not (isset .Params "head")) .Params.head }}
<div class="container">
  <div class="row">
    <div class="col-lg-{{ if $isSidebarEnabled }}8{{ else }}12{{end}}">
      {{ if or (not (isset .Params "list")) .Params.list }}
      <div class="post">
        {{ if or $isHeadEnabled $.Content }}
        <div class="head">
          {{ if $isHeadEnabled }}<h2 class="title">{{ .Title }}</h2>{{ end }}
          {{ if .Content }}{{ .Content }}{{ end }}
        </div> <!-- .head -->
        {{ end }}
        <div class="body">
          <ul id="project-selector" class="list-inline">
            <li class="list-inline-item active" data-filter="*">
              <a href="javascript:void(0)">All</a>
            </li>
          {{ range $k, $v := site.Taxonomies.categories }}
            {{ if where $v.Pages "Type" "project" }}
            <li class="list-inline-item" data-filter="{{ urlize $k }}-project">
              <a href="javascript:void(0)">{{ humanize $k }}</a>
            </li>
            {{ end }}
          {{ end }}
          </ul>
          <div id="portfolio" class="row">
            {{ range .Pages }}
            {{ if not .Params.unlisted }}
            <div class='col-xl-3 col-lg-4 col-md-6 {{ urlize (index (.GetTerms "categories") 0).LinkTitle }}-project'>
              <a href="{{ .RelPermalink }}">
                <div class="project card">
                  {{ if .Params.FeatureImg }}
                  <img src='{{ .Params.FeatureImg }}' class="card-img-top" alt="Thumbnail">
                  {{ end }}
                  <div class="card-body">
                    <ul class="list-inline categories">
                    {{ range .GetTerms "categories" }}
                      <li class="list-inline-item">
                        <div class="badge">{{ .LinkTitle }}</div>
                      </li>
                    {{ end }}
                    </ul>
                    <h6 class="card-title">{{ .Title }}</h6>
                    <p class="card-text">{{ .Params.Desc }}</p>
                    <ul class="list-inline tags">
                    {{ range .GetTerms "tags" }}
                      <li class="list-inline-item"><i class="fa fa-hashtag"></i> {{ .LinkTitle }}</li>
                    {{ end }}
                    </ul>
                  </div> <!-- .card-body -->
                </div> <!-- .card -->
              </a>
            </div> <!-- .col-xl-3.col-lg.4.col-md-6 -->
            {{ end }}
            {{ end }}
          </div> <!-- .row -->
        </div> <!-- .body -->
      </div> <!-- .post -->
      {{ end }}
    </div> <!-- .col-lg-8 -->
    {{ if $isSidebarEnabled }}
    <div class="col-lg-4">{{ partial "sidebar.html"}}</div> <!-- .col-lg-4 -->
    {{ end }}
  </div> <!-- .row -->
</div> <!-- .container -->
{{ end }}
