{{ if strings.Contains .Text "nofancybox" }}
<img src="{{ .Destination | safeURL }}" alt="{{ replace .Text "nofancybox" "" }}">
{{ else }}
<a href="{{ .Destination | safeURL }}" data-fancybox data-caption="{{ .Text }}">
    <img src="{{ .Destination | safeURL }}">
</a>
{{ end }}