{{ define "main" }}
  {{ if .Site.Params.Slider }}
  <div id="home-slider" class="carousel slide" data-bs-ride="carousel">
  {{ if gt (.Site.Params.Slider.Slides | len) 1 }}
    <div class="carousel-indicators">
    {{ range $index, $slide := .Site.Params.Slider.Slides  }}
      <button type="button" data-bs-target="#home-slider" data-bs-slide-to="{{ $index }}" 
              aria-label="Slide {{ $index }}" {{ if eq $index 0 }} class="active" aria-current="true"{{ end }}></button>
    {{ end }}
    </div>
  {{ end }}
    <div class="carousel-inner">
    {{ range $index, $slide := .Site.Params.Slider.Slides  }}
      <div class="carousel-item {{ if eq $index 0 }} active{{ end }}">
        <div class="carousel-media">
          {{ if $slide.video }}
            <video poster="{{ $slide.image }}" autoplay loop muted>
              <source src="{{ $slide.video }}" type="video/{{ substr (path.Ext $slide.video) 1 }}">
            </video>
          {{ else if $slide.image }}
            <img src="{{ $slide.image }}" alt="slide image">
          {{ end }}
        </div> <!-- .carousel-media -->
        <div class="carousel-caption" {{ if $slide.textColor }}style="color: {{ $slide.textColor }}"{{ end }}>
          <h2>{{ $slide.title }}</h2>
          <p>{{ $slide.desc }}</p>
          {{ if $slide.buttonText }}
            <a href="{{ $slide.buttonHref }}" class="btn btn-primary">{{ $slide.buttonText }}</a>
          {{ end }}
        </div> <!-- .carousel-caption -->
      </div> <!-- .carousel-item -->
    {{ end }}
    </div> <!-- .carousel-inner -->
  </div> <!-- #home-slider -->
  {{ end }}
  <div id="content" class="home container">{{ .Content }}</div> <!-- .container -->
{{ end }}
