{{ define "main" }}
{{ $isSidebarEnabled := or (not (isset .Params "sidebar")) .Params.sidebar }}
{{ $isHeadEnabled := or (not (isset .Params "head")) .Params.head }}
<div class="container">
  <div class="row">
    <div class="col-lg-{{ if $isSidebarEnabled }}8{{ else }}12{{end}}">
      {{ if or $isHeadEnabled .Content }}
      <div class="post">
        {{ if $isHeadEnabled }}
        <div class="head">
          <h2 class="title">{{ .Title }}</h2>
        </div> <!-- .head -->
        {{ end }}
        {{ if .Content }}
        <div class="body">{{ .Content }}</div> <!-- .body -->
        {{ end }}
      </div> <!-- .post -->
      {{ end }}
      {{ if or (not (isset .Params "list")) .Params.list }}
        {{ range .Paginator.Pages }}
          {{ .Scratch.Set "scope" "list" }}
          {{ partial "post.html" . }}
        {{ end }}
        {{ template "_internal/pagination.html" . }}
      {{ end }}
    </div> <!-- .col-lg-8 -->
    {{ if $isSidebarEnabled }}
    <div class="col-lg-4">{{ partial "sidebar.html"}}</div> <!-- .col-lg-4 -->
    {{ end }}
  </div> <!-- .row -->
</div> <!-- .container -->
{{ end }}
