{{ define "main" }}
{{ $isSidebarEnabled := or (not (isset .Params "sidebar")) .Params.sidebar }}
<div class="container">
  <div class="row">
    <div class="col-lg-{{ if $isSidebarEnabled }}8{{ else }}12{{end}}">
      {{ .Scratch.Set "scope" "single" }}
      {{ partial "post.html" . }}
      {{ if or (not (isset .Params "comments")) .Params.comments }}
        {{ partial "comments.html" }}
      {{ end }}
    </div> <!-- .col-lg-8 -->
    {{ if $isSidebarEnabled }}
    <div class="col-lg-4">{{ partial "sidebar.html"}}</div> <!-- .col-lg-4 -->
    {{ end }}
  </div> <!-- .row -->
</div> <!-- .container -->
{{ end }}
