/* ---------------------------------------------------------------------- */
/*	01 - General & Basic Styles
/* ---------------------------------------------------------------------- */
:root {
	--theme-color: #e74c3c;
	--primary-bg-color: #fff;
	--secondary-bg-color: #f1f1f1;
	--tertiary-bg-color: #f9f9f9;
	--colophon-bg-color: #2f3c4e;
	--footer-bg-color: #293545;
	--back-top-bg-color: #263241;
	--primary-text-color:#2f3c4e;
	--secondary-text-color: #6d7683;
	--active-text-color: #fff;
	--footer-text-color: #f1f1f1;
	--primary-border-color: #d3d5d7;
	--secondary-border-color: #ecedee;
	--tertiary-border-color: #888;
	--primary-shadow-color: #e2e3e4;
	--secondary-shadow-color: rgba(0, 0, 0, .25);
	--text-shadow-color: rgba(0, 0, 0, .5);
	--footer-link-hover-color: #fff;
	--link-active-bg-color: var(--theme-color);
	--link-active-color: #fff;
	--widget-decoration-color: #2f3c4e;
	--selection-bg-color: #f15a23;
	--bs-badge-bg-color: #999;
	--bs-link-color: var(--theme-color);
	--bs-link-color-rgb: var(--theme-color);
	--bs-link-hover-color: var(--theme-color);
	--bs-link-hover-color-rgb: var(--theme-color);
}

.btn-primary {
	--bs-btn-bg: var(--theme-color);
	--bs-btn-border-color: var(--theme-color);
	--bs-btn-hover-bg: var(--primary-text-color);
	--bs-btn-hover-border-color: var(--primary-text-color);
	--bs-btn-active-bg: var(--theme-color);
	--bs-btn-active-border-color: var(--theme-color);
	--bs-btn-disabled-bg: var(--primary-text-color);
	--bs-btn-disabled-border-color: var(--primary-text-color);
}

::-moz-selection {
	background: var(--selection-bg-color);
	color: var(--active-text-color);
	text-shadow: none;
}

::selection {
	background: var(--selection-bg-color);
	color: var(--active-text-color);
}

html {
	scroll-behavior: smooth;
}

body {
	--bs-body-bg: var(--secondary-bg-color);
	--bs-body-color: var(--secondary-text-color);
	--bs-body-font-family: "Lato", "Droid Arabic Kufi", Arial, sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

a {
	color: var(--bs-link-color-rgb);
	text-decoration: none!important;
	transition: all 0.3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 20px 0;
}

pre {
	border: 1px solid var(--primary-border-color);
	border-radius: .375rem;
	font-size: 12px;
	padding: 5px 10px;
}

.form-control:focus {
	border: var(--bs-border-width) solid var(--bs-border-color);
	box-shadow: none;
}

.pagination {
	--bs-pagination-active-bg: var(--theme-color);
	--bs-pagination-active-border-color: var(--theme-color);
	justify-content: center!important;
}

.page-link:focus {
	box-shadow: none;
}

ul.list-inline {
	padding-left: 0!important;
}

ul.list-inline > li {
	padding-left: 0;
	padding-right: 10px;
}

.card ::selection {
	background-color: inherit;
	color: inherit;
}

.card .badge {
	background-color: var(--bs-badge-bg-color);
	border-radius: 20px;
}

/* ---------------------------------------------------------------------- */
/*	02 - Header & Navigation
/* ---------------------------------------------------------------------- */
div#header {
	background: var(--primary-bg-color) url("../images/header-top.png") repeat-x top center;
	border-bottom: 1px solid var(--primary-border-color);
	box-shadow: 0 0 5px 0 var(--primary-shadow-color);
	height: 84px;
	margin-bottom: 60px;
	position: relative;
	z-index: 32;
}

div#header div#logo {
	max-height: 84px;
}

div#header div#logo h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 84px;
	margin: 0;
}

div#header div#logo > a {
	transition: all 0.17s ease-in-out;
}

div#header div#logo img {
	line-height: 84px;
	max-height: 100%;
	max-width: 100%;
}

div#header div#navigation nav {
	display: inline-block;
}

div#header div#navigation ul.list-inline li {
	font-size: 15px;
	list-style: none;
	margin-right: 20px;
	position: relative;
	text-align: left;
}

div#header div#navigation ul.list-inline > li {
	line-height: 84px;
}

div#header div#navigation ul.list-inline > li:last-child {
	margin-right: 0;
}

div#header div#navigation ul.list-inline > li > a {
	color: var(--primary-text-color);
}

div#header div#navigation ul.list-inline > li > a.active,
div#header div#navigation ul.list-inline > li:hover > a {
	color: var(--bs-link-color)!important;
}

div#header div#navigation ul.sub-menu {
	background-color: var(--primary-bg-color);
	border: 1px solid var(--primary-border-color);
	border-top: none;
	display: none;
	padding: 0;
	position: absolute;
	top: 100%;
	right: 0;
	min-width: 220px;
}

div#header div#navigation .list-inline-item:hover > ul.sub-menu {
	display: block;
}

div#header div#navigation ul.sub-menu > li {
	border-bottom: 1px solid var(--primary-border-color);
	display: block;
	line-height: 40px;
	margin: 0;
}

div#header div#navigation ul.sub-menu > li:last-child {
	border-bottom: none;
}

div#header div#navigation ul.sub-menu > li > a {
	color: var(--primary-text-color);
	display: block;
	font-size: 13px;
	padding: 10px 20px;
}

div#header div#navigation ul.sub-menu > li > a:hover {
	color: var(--bs-link-color);
}

div#header a#dark-mode-switch {
	font-size: 20px;
}

/* ---------------------------------------------------------------------- */
/*	03 - Footer
/* ---------------------------------------------------------------------- */
div#colophon {
	background-color: var(--colophon-bg-color);
	color: var(--footer-text-color);
	margin-top: 60px;
	padding: 35px 0 30px;
	position: relative;
}

div#colophon:before {
	background: var(--secondary-bg-color);
	content: '';
	display: block;
	margin: 0 0 0 -7.5px;
	position: absolute;
	top: -8px;
	left: 50%;
	height: 15px;
	width: 15px;
	transform: rotate(45deg);
}

div#colophon h6 {
	border-bottom: 1px solid var(--tertiary-border-color);
	display: block;
	font-size: 16px;
	margin: 0 0 12px;
	padding: 0 0 12px;
	text-transform: uppercase;
}

div#colophon ul.list-inline li {
	font-size: 14px;
}

div#colophon ul.list-inline i.fa {
	text-align: center;
	width: 20px;
}

div#colophon div#social-links li {
	padding: 0;
}

div#colophon div#social-links li > a {
	color: var(--active-text-color);
	display: block;
	width: 28px;
	padding: 4px 0;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	border-radius: 4px;
}

div#colophon div#social-links li:hover > a {
	background-color: var(--bs-link-color);
}

div#colophon div#social-links li:hover i {
	animation: toTopFromBottom 0.3s forwards;
}

div#footer {
	background-color: var(--footer-bg-color);
	color: var(--footer-text-color);
	font-size: 14px;
	padding: 30px 0 20px;
}

div#footer a:hover {
	color: var(--footer-link-hover-color);
}

div#footer #powered-by li.list-inline-item {
	margin-right: 0;
	padding-right: 0;
	margin-left: 10px;
}

div#footer #powered-by a {
	color: var(--footer-text-color);
}

div#footer #powered-by img {
	display: inline-block;
	max-height: 24px;
	margin-top: -4px;
}

a#back-to-top {
	background-color: var(--bs-link-color);
	color: var(--active-text-color);
	display: block;
	font-size: 14px;
	padding: 10px 0;
	position: fixed;
	width: 40px;
	right: -60px;
	bottom: 20px;
	text-align: center;
	z-index: 16;
}

a#back-to-top:hover {
	background-color: var(--back-top-bg-color);
}

/* ---------------------------------------------------------------------- */
/*  04 - Home
/* ---------------------------------------------------------------------- */
div#content.home h1,
div#content.home h2,
div#content.home h3 {
	margin: 40px 0 20px
}

div#home-slider {
	margin: -60px 0 40px;
}

div#home-slider div.carousel-item div.carousel-media {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	overflow: hidden;
}

div#home-slider div.carousel-item div.carousel-media video,
div#home-slider div.carousel-item div.carousel-media img {
	max-width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

div#home-slider div.carousel-caption {
	background: transparent;
	color: var(--primary-text-color);
	text-align: left;
	top: 35%;
	left: calc((100% - 1320px) / 2 + 15px);
	width: 50%;
}

div#home-slider div.carousel-caption h1,
div#home-slider div.carousel-caption h2,
div#home-slider div.carousel-caption h3,
div#home-slider div.carousel-caption h4,
div#home-slider div.carousel-caption h5,
div#home-slider div.carousel-caption h6 {
	font-weight: bold;
	margin-bottom: 10px;
}

div#home-slider div.carousel-caption {
	color: var(--primary-text-color);
	line-height: 1.1;
	letter-spacing: 1px;
}

div#home-slider div.carousel-caption a.btn {
	border-radius: 20px;
	font-size: 14px;
	margin: 20px 0;
	padding: 10px 20px;
}

/* ---------------------------------------------------------------------- */
/*  05 - Post List
/* ---------------------------------------------------------------------- */
ul#project-selector {
	font-size: 14px;
	margin: 10px 0 30px;
	text-align: center;
	transition: all .2s ease-in-out;
}

ul#project-selector a {
	color: var(--primary-text-color);
	text-transform: capitalize;
}

ul#project-selector li {
	background-color: var(--tertiary-bg-color);
	border-radius: 2px;
	box-shadow: 0 1px 2px var(--secondary-shadow-color);
	margin-bottom: 10px;
	padding: 6px 10px 7px;
}

ul#project-selector li.active,
ul#project-selector li:hover {
	background-color: var(--link-active-bg-color);
}

ul#project-selector li:hover a,
ul#project-selector li.active a {
	color: var(--link-active-color);
}

div.project.card {
	background-color: var(--tertiary-bg-color);
	font-size: 14px;
	margin-bottom: 20px;
	overflow: hidden;
}

div.project.card img {
	transition: all .2s ease-in-out;
}

div.project.card:hover img {
	transform: scale(1.1);
}

div.project.card ul.list-inline {
	margin: 0 0 10px;
}

div.project.card li.list-inline-item {
	padding: 0;
}

div.project.card h6 {
	margin: 0 0 5px;
}

div.project.card ul.tags {
	height: 42px;
	overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/*  06 - Single Post
/* ---------------------------------------------------------------------- */
div.post {
	background-color: var(--primary-bg-color);
	border: 1px solid var(--primary-border-color);
	border-radius: 0.375rem;
	box-shadow: 0 0 5px 0 var(--primary-shadow-color);
	margin-bottom: 30px;
	overflow-x: hidden;
	position: relative;
}

div.post img,
div.post video {
	max-width: 100%;
}

div.post table {
	margin-bottom: 10px;
	width: 100%;
}

div.post table th,
div.post table td {
	border: 1px solid var(--primary-border-color);
	padding: 0 10px;
}

div.post div.head {
	border-bottom: 1px solid var(--primary-border-color);
}

div.post div.head div.feature-img {
	background-size: cover;
	background-position: center;
	height: 200px;
}

div.post.single div.feature-img {
	display: none;
}

div.post div.head h2 {
	color: var(--theme-color);
	margin: 30px 30px 10px;
}

div.post div.head div.feature-img + h2 {
	margin-top: 20px;
}

div.post div.head p {
	margin: 0 30px 20px;
}

div.post div.head div.metadata {
	margin: 20px 30px;
}

div.post div.head div.metadata div.publish-time,
div.post div.head div.metadata div.categories,
div.post div.head div.metadata div.word-count,
div.post div.head div.metadata div.tags {
	display: inline-block;
	margin-right: 20px;
}

div.post div.head div.metadata i.fa {
	display: inline-block;
	width: 20px;
}

div.post div.head div.metadata div.categories > div.terms,
div.post div.head div.metadata div.tags > div.terms {
	display: inline-block;
	margin-right: 0;
}

div.post div.head div.metadata div.terms ul.list-inline {
	margin-bottom: 0;
}

div.post div.head div.metadata div.terms li.list-inline-item {
	padding-right: 0;
	margin-right: 10px;
}

div.post div.head div.metadata div.terms li.list-inline-item:last-child {
	margin-right: 0;
}

div.post div.body {
	padding: 20px 30px 30px;
}

/* 404 Error Page */
div.page.full-height {
	min-height: 400px;
}

img.error-404 {
	max-height: 360px;
	max-width: 100%;
}

/* ---------------------------------------------------------------------- */
/*	07 - Sidebar
/* ---------------------------------------------------------------------- */
div.widget {
	background-color: var(--primary-bg-color);
	border: 1px solid var(--primary-border-color);
	box-shadow: 0 0 5px 0 var(--primary-shadow-color);
	border-radius: 0.375rem;
	margin-bottom: 30px;
	padding: 30px 30px 35px;
}

div.widget div.head {
	border-bottom: 2px solid var(--secondary-border-color);
	color: var(--primary-text-color);
	position: relative;
	margin-bottom: 10px;
}

div.widget div.head::before {
	background-color: var(--widget-decoration-color);
	content: "";
	position: absolute;
	height: 2px;
	width: 20px;
	bottom: -2px;
	left: 0;
}

div.widget div.head h5 {
	font-family: "Roboto Slab", "Droid Arabic Kufi", Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	margin: 0 0 10px;
}

div.widget div.head i.fa {
	text-align: center;
	width: 20px;
}

div.widget div.body {
	position: relative;
}

div.widget div.body ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div.widget div.body li {
	border-bottom: 1px solid var(--secondary-border-color);
	overflow: hidden;
	padding: 10px 0;
}

div.widget div.body li:last-child {
	border-bottom: none;
	padding: 10px 0 0;
}

div.widget div.body a {
	color: var(--secondary-text-color);
}

div.widget div.body a:hover {
	color: var(--bs-link-color);
}

div.widget.search div.list-group {
	margin-top: -1px;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 128;
}

div.widget.tags div.body li {
	background: var(--tertiary-bg-color);
	border: 1px solid var(--secondary-border-color);
	border-radius: 36px;
	display: inline-block;
	font-size: 14px;
	margin-right: 5px;
	padding: 2px 8px;
}

div.widget .clustrmaps-map-control {
	overflow: hidden;
}

/* ---------------------------------------------------------------------- */
/*	08 - Comments
/* ---------------------------------------------------------------------- */
iframe[src*="ads-iframe"] {
	display: none
}

div.post + div#comments {
	background-color: var(--primary-bg-color);
	border: 1px solid var(--primary-border-color);
	box-shadow: 0 0 5px 0 var(--primary-shadow-color);
	border-radius: 0.375rem;
	margin-bottom: 30px;
	padding: 30px 30px 15px;
	position: relative;
}

/* ---------------------------------------------------------------------- */
/*  09 - Shortcode
/* ---------------------------------------------------------------------- */
div.highlight.card {
	background-color: var(--primary-bg-color);
	margin-bottom: 20px;
}

div.highlight.card .card-title {
	font-weight: bold;
}

div.highlight.card span.date,
div.highlight.card span.badge {
	display: inline-block;
	font-size: 13px;
}

div.map {
	background-color: var(--secondary-bg-color);
	border-top: 1px solid var(--primary-border-color);
	border-bottom: 1px solid var(--primary-border-color);
	height: 450px;
	margin: 30px -30px;
}

div.map div#mapbox {
	height: 100%;
}

ul.research-filter {
	margin: 0 0 20px;
}

ul.research-filter li {
	border: 1px solid var(--bs-link-color);
	border-radius: 0.375rem;
	margin-bottom: 8px;
	padding: 2px 8px;
}

ul.research-filter li.active,
ul.research-filter li:hover {
	background-color: var(--link-active-bg-color);
}

ul.research-filter li.active a,
ul.research-filter li:hover a {
	color: var(--link-active-color);
}

div.research {
	margin-bottom: 20px;
}

div.research div.images {
	position: relative;
}

div.research div.images img {
	border-radius: 0.375rem;
	width: 100%;
	max-width: 100%;
}

div.research div.overlay {
	display: none;
	position: absolute;
	left: 12px;
	right: 12px;
	top: 0;
}

div.research:hover div.overlay {
	display: block;
}

div.research h6 {
	margin: 0 0 15px;
}

div.research li.list-inline-item {
	margin: 0;
}

div.research ul.authors {
	margin: 0;
}

div.research ul.links a {
	border: 1px solid var(--bs-link-color);
	border-radius: 0.375rem;
	font-size: 14px;
	padding: 2px 5px;
}

div.research ul.links a:hover {
	background-color: var(--link-active-bg-color);
	color: var(--link-active-color);
}

div.gallery {
	margin-bottom: 20px;
	min-height: 80px;
	position: relative;
}

div.gallery div.overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div.gallery.loading div.overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.gallery div.overlay::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--primary-bg-color);
	opacity: 0.8;
	z-index: 1;
}

div.gallery div.overlay img {
	max-height: 40px;
	position: relative;
	z-index: 2;
}

div.gallery div.gallery-inner {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	font-size: 0;
}

div.gallery div.gallery-item {
	display: inline-block;
	float: none;
	margin: 0px;
	padding: 0 5px;
	transition: all .3s ease-out;
}

div.gallery .gallery-item img {
	width: 100%;
	height: auto;
}

div.gallery .carousel-control-prev,
div.gallery .carousel-control-next {
	width: 5%;
}

/* ---------------------------------------------------------------------- */
/*	10 - Dark Theme
/* ---------------------------------------------------------------------- */
html[data-theme=dark] {
	--primary-bg-color: #393939;
	--secondary-bg-color: #2d2d2d;
	--tertiary-bg-color: #424242;
	--colophon-bg-color: #24262a;
	--footer-bg-color: #1d1e21;
	--primary-text-color:#fff;
	--secondary-text-color: #acb3b9;
	--primary-border-color: #5e5e5e;
	--secondary-border-color: #5e5e5e;
	--tertiary-border-color: #4b4b4b;
	--primary-shadow-color: rgba(0, 0, 0, .1);
	--widget-decoration-color: #c4c8cc;
	--bs-badge-bg-color: #777;
	--bs-border-color: #696f75;
	--bs-secondary-bg: #343a40;
}

html[data-theme=dark] .btn-primary {
	--bs-btn-hover-bg: #424649;
	--bs-btn-hover-border-color: #373b3e;
	--bs-btn-hover-color: #fff;
}

html[data-theme=dark] .pagination {
	--bs-pagination-hover-bg: #444;
	--bs-pagination-disabled-color: rgba(226, 226, 230, .75);
}

html[data-theme=dark] .list-group {
	--bs-list-group-action-hover-bg: #444;
}

/* ---------------------------------------------------------------------- */
/*	11 - Responsive Design
/* ---------------------------------------------------------------------- */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
	div#home-slider div.carousel-caption {
		left: calc((100% - 1140px) / 2 + 15px);
	}

	div.map {
		height: 420px;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
	div#home-slider div.carousel-caption {
		top: 35%;
		left: calc((100% - 960px) / 2 + 15px);
	}

	div.map {
		height: 360px;
	}
}

@media (max-width: 991px) {
	div#footer {
		text-align: center;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	div#home-slider div.carousel-caption {
		top: 30%;
		left: calc((100% - 720px) / 2 + 15px);
	}

	div.map {
		height: 300px;
	}
}

@media (max-width: 767px) {
	.pagination {
		margin-bottom: 30px;
	}

	div#header {
		height: auto;
		text-align: center;
	}

	div#header div#navigation ul.list-inline > li {
		line-height: 100%;
		margin-right: 15px;
	}

	div#header a#dark-mode-switch {
		position: absolute;
		top: 30px;
		right: 20px;
	}

	div#colophon div#social-links h6 {
		margin-top: 20px;
	}
	
	div#home-slider {
		margin-bottom: 0;
	}

	div#home-slider div.carousel-item div.carousel-media {
		height: 250px;
	}

	div#home-slider div.carousel-item div.carousel-caption {
		position: absolute;
		left: 0;
		right: 0;
		top: calc((100% - 150px) / 2);
		text-align: center;
		width: 100%;
	}

	div#home-slider div.carousel-item div.carousel-caption p {
		text-shadow: 0 1px 2px var(--text-shadow-color);
	}

	div#home-slider div.carousel-caption a.btn {
		margin: 0;
	}

	div.map {
		height: 240px;
	}

	div.research {
		border-bottom: 1px dotted var(--primary-border-color);
	}

	div.research h6 {
		margin: 10px 0 5px;
	}

	div.research p {
		margin: 0 0 5px;
	}

	div#footer #powered-by li.list-inline-item {
		display: block;
		margin-bottom: 5px;
	}
}
