{{ $bootstrapJs := resources.Get "js/bootstrap.min.js" }}
{{ $isotopeJs := resources.Get "js/jquery.isotope.min.js" }}
{{ $fuseJs := resources.Get "js/fuse.min.js" }}
{{ $fancyBoxJs := resources.Get "js/fancybox.umd.min.js" }}
{{ $footerJs := resources.Get "js/script-footer.js" }}
{{ if eq hugo.Environment "development" }}
  <script src="{{ $bootstrapJs.RelPermalink }}"></script>
  <script src="{{ $isotopeJs.RelPermalink }}"></script>
  <script src="{{ $fuseJs.RelPermalink }}"></script>
  <script src="{{ $fancyBoxJs.RelPermalink }}"></script>
  <script src="{{ $footerJs.RelPermalink }}"></script>
{{- else }}
  {{ $mergedJs := slice $bootstrapJs $isotopeJs $fuseJs $fancyBoxJs $footerJs | resources.Concat "js/footer.min.js" | minify }}
  <script src="{{ $mergedJs.RelPermalink }}" integrity="{{ $mergedJs.Data.Integrity }}"></script>
{{- end }}
{{ if site.Params.GoogleAnalytics.id }}
{{ if site.Params.GoogleAnalytics.Proxy }}
  <script src="{{ site.Params.GoogleAnalytics.Proxy }}?id={{ site.Params.GoogleAnalytics.id }}"></script>
{{ else }}
  <script src="https://www.googletagmanager.com/gtag/js?id={{ site.Params.GoogleAnalytics.id }}"></script>
{{ end }}
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {dataLayer.push(arguments)}
  gtag("js", new Date())
  gtag("config", "{{ site.Params.GoogleAnalytics.id }}")
</script>
{{ end }}
