<script id="clustrmaps" async></script>
<script>
    let isDarkMode = getCurrentTheme() == "dark",
        bgColor = isDarkMode ? '393939' : 'ffffff',
        fgColor = isDarkMode ? 'aaaaaa' : '555555',
        textColor = isDarkMode ? 'c4c8cc' : '808080'

    $('#clustrmaps').attr('src', '//clustrmaps.com/map_v2.js?t=tt&d={{ site.Params.clustrMaps.key }}&cmo=3acc3a&cmn=ff5353&ct=' + textColor + '&co=' + bgColor + '&cl=' + fgColor);
</script>
