<div id="comments">
  <div id="disqus_thread">
    <p>The Disqus comment system is loading ...<br>If the message does not appear, please check your Disqus configuration.</p>
  </div> <!-- #disqus_thread -->
</div> <!-- #comments -->
<script>
let disqus_config = function() {
  this.page.url = window.location.href;  
  this.page.identifier = window.location.pathname; 
}
</script>
<script src="https://{{ site.Params.Disqus.Shortname }}.disqus.com/embed.js" data-timestamp="{{ time.Now.Unix }}"></script>
{{ if site.Params.Disqus.Proxy }}
<script>
setTimeout(function() {
  if ( $("#disqus_thread > iframe").length == 0 ) {
    console.log("Fallback to Disqus Proxy ...")
    $("head").append('<link rel="stylesheet" href="{{ site.Params.Disqus.Proxy }}/assets/css/iDisqus.min.css" type="text/css">')
    $.getScript("{{ site.Params.Disqus.Proxy }}/assets/js/iDisqus.min.js", function() {
      let disqus = new iDisqus("comments", {
        forum: "{{ site.Params.Disqus.Shortname }}",
        api: "{{ site.Params.Disqus.Proxy }}",
        site: window.location.hostname,
        mode: 1,
        timeout: 3000,
        init: true
      })
    })
  }
}, 2500)
</script>
{{ end }}
