<div id="colophon">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h6>Contact Us</h6>
        <ul class="list-inline">
          {{ if .Site.Params.Contact.Address }}
          <li class="list-inline-item">
            <i class="fa fa-map-marker"></i> {{ .Site.Params.Contact.Address }}
          </li>
          {{ end }}
          {{ if .Site.Params.Contact.Email }}
          <li class="list-inline-item">
            <i class="fa fa-envelope"></i> {{ .Site.Params.Contact.Email }}
          </li>
          {{ end }}
        </ul>
      </div> <!-- .col-lg-8 -->
      <div id="social-links" class="col-lg-4">
        <h6>Stay Connected</h6>
        <ul class="list-inline">
          {{ if .Site.Params.Social.Github }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.Github }}" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
          </li>
          {{ end }}
          {{ if .Site.Params.Social.GoogleScholar }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.GoogleScholar }}" title="Google Scholar" target="_blank"><i class="fa fa-graduation-cap"></i></a>
          </li>
          {{ end }}
          {{ if .Site.Params.Social.StackOverflow }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.StackOverflow }}" title="Stack Overflow" target="_blank"><i class="fab fa-stack-overflow"></i></a>
          </li>
          {{ end }}
          {{ if .Site.Params.Social.LinkedIn }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.LinkedIn }}" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          {{ end }}
          {{ if .Site.Params.Social.Facebook }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.Facebook }}" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          {{ end }}
          {{ if .Site.Params.Social.Instagram }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.Instagram }}" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          {{ end }}
          {{ if .Site.Params.Social.Twitter }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.Social.Twitter }}" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
          {{ end }}
        </ul>
      </div> <!-- .col-lg-4 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- #colophon -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div id="copyright" class="col-lg-6">
        <p>Copyright &copy; <span class="year"></span> <a href="{{ site.BaseURL }}">{{ site.Title }}</a>. All rights reserved.</p>
      </div> <!-- #copyright -->
      <div id="powered-by" class="col-lg-6 text-lg-end">
        {{ if .Site.Params.PoweredBy }}
        <ul class="list-inline">
          {{ if .Site.Params.PoweredBy.IcpNo }}
          <li class="list-inline-item">
            <a href="https://beian.miit.gov.cn" target="_blank">{{ .Site.Params.PoweredBy.IcpNo }}</a>
          </li>
          {{ end }}
          {{ if .Site.Params.PoweredBy.PoliceIcpNo }}
          <li class="list-inline-item">
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ replaceRE `[^0-9]` "" .Site.Params.PoweredBy.PoliceIcpNo }}" target="_blank">
              {{ .Site.Params.PoweredBy.PoliceIcpNo }}
            </a>
          </li>
          {{ end }}
          {{ if .Site.Params.PoweredBy.Sponsor }}
          <li class="list-inline-item">
            <a href="{{ .Site.Params.PoweredBy.Sponsor.URL }}" target="_blank">
              <img src="{{ .Site.Params.PoweredBy.Sponsor.Img }}">
            </a>
          </li>
          {{ end }}
        </ul>
        {{ else }}
        <p>
          Powered by <a href="https://gohugo.io" target="_blank">Hugo</a> &bullet;
          Theme <a href="https://gitlab.com/hzxie/citrus-glow" target="_blank">Citrus Glow</a>
        </p>
        {{ end }}
      </div> <!-- .col-md-12.col-lg-6 -->
    </div> <!-- .row-fluid -->
  </div> <!-- .container -->
</div> <!-- #footer -->
<a id="back-to-top" href="javascript:void(0);"><i class="fa fa-chevron-up"></i></a>
