<div id="header">
  <div class="container">
    <div class="row">
      <div id="logo" class="col-md-4">
        <h1><a href="{{ site.BaseURL }}">{{ site.Title }}</a></h1>
      </div> <!-- #logo -->
      <div id="navigation" class="col-md-8 text-md-end">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
        <a id="dark-mode-switch" href="javascript:void(0)"><i class="fa"></i></a>
      </div> <!-- #navigation -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div> <!-- #header -->
<script>
  setDarkMode(getCurrentTheme())
</script>