<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<title>{{ if .IsHome }}
{{ printf "%s | %s" site.Title (site.Params.SubTitle | default "Powered by Hugo") }}
{{ else }}
{{ printf "%s | %s" .Title site.Title }}
{{ end }}</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
