<div class="post {{ if eq (.Scratch.Get "scope") "single" }}single{{ end }}">
  {{ if or (not (isset .Params "head")) .Params.head }}
  <div class="head">
  {{ if .Params.featureImg }}
    <div class="feature-img" style="background-image: url({{ .Params.featureImg }})"></div> <!-- .feature-img -->
  {{ end }}
    <h2 class="title">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <div class="metadata">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05+00:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <div class="publish-time">
        <i class="far fa-calendar-alt"></i>
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div> <!-- .publish-time -->
      <div class="categories">
        <i class="fa fa-folder-tree"></i>
        {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
      </div> <!-- .categories -->
      {{ if .Params.ReadingTime }}
      <div class="word-count">
        <i class="far fa-hourglass-half"></i> {{ .Params.ReadingTime }} {{ cond (eq .Params.ReadingTime 1) "minute" "minutes" }}
      </div> <!-- .word-count -->
      {{ else }}
      <div class="word-count">
        <i class="fa fa-book"></i> {{ .WordCount }} {{ cond (eq .WordCount 1) "word" "words" }}
      </div> <!-- .word-count -->
      {{ end }}
      <div class="tags">
        <i class="fa fa-hashtag"></i>
        {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
      </div> <!-- .tags -->
    </div> <!-- .metadata -->
  </div> <!-- .head -->
  {{ end }}
  <div class="body">
  {{ if eq (.Scratch.Get "scope") "single" }}
    {{ .Content }}
  {{ else }}
    {{ .Summary | plainify | chomp }}
  {{ end }}
  </div> <!-- .body -->
</div> <!-- .post -->