<!-- Search -->
<div class="widget search">
  <div class="head">
    <h5><i class="fa fa-search"></i> Search</h5>
  </div> <!-- .head -->
  <div class="body">
    <input class="form-control" type="text">
    <div class="list-group">
    </div> <!-- .list-group -->
  </div> <!-- .body -->
</div> <!-- .widget.search -->

<!-- Recent Projects -->
{{ if (where site.RegularPages "Type" "project") }}
<div class="widget recent projects">
  <div class="head">
    <h5><i class="fa fa-flask"></i> Recent Projects</h5>
  </div> <!-- .head -->
  <div class="body">
    <ul>
    {{ range (where site.RegularPages "Type" "project" | first 5) }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ else }}
      <li>No projects available</li>
    {{ end }}
    </ul>
  </div> <!-- .body -->
</div> <!-- .widget.recent.posts -->
{{ end }}

<!-- Recent Posts -->
<div class="widget recent posts">
  <div class="head">
    <h5><i class="fa fa-copy"></i> Recent Posts</h5>
  </div> <!-- .head -->
  <div class="body">
    <ul>
    {{ range (where site.RegularPages "Type" "post" | first 5) }}
      <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ else }}
      <li>No posts available</li>
    {{ end }}
    </ul>
  </div> <!-- .body -->
</div> <!-- .widget.recent.posts -->

<!-- Categories / Tags -->
{{ $icons := dict "categories" "folder-tree" "tags" "hashtag" }}
{{ range $taxonomy, $terms := site.Taxonomies }}
  {{ if $terms }}
  <div class="widget {{ $taxonomy }}">
  <div class="head">
    <h5><i class="fa fa-{{ index $icons $taxonomy | default "tags" }}"></i> {{ $taxonomy | strings.FirstUpper }}</h5>
  </div> <!-- .head -->
  <div class="body">
    <ul>
    {{ range $terms.ByCount| first 50 }}
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a></li>
    {{ else }}
      <li>No {{ $taxonomy }} available</li>
    {{ end }}
    </ul>
  </div> <!-- .body -->
  </div> <!-- .widget -->
  {{ end }}
{{ end }}

<!-- Visitors -->
{{ if site.Params.clustrMaps }}
<div class="widget visitors">
  <div class="head">
    <h5><i class="fa fa-globe"></i> Who is visiting?</h5>
  </div> <!-- .head -->
  <div class="body">
    {{ partial "clustrmaps.html" }}
  </div> <!-- .body -->
</div> <!-- .visitors -->
{{ end }}