{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page full-height text-center">
        <img class="error-404" src="/images/404.png" alt="404">
      </div> <!-- .page -->
    </div> <!-- .col-12 -->
  </div> <!-- .row -->
</div> <!-- .container -->
{{ end }}
