{{- $width := (.Get "width" | default "col-lg-6") -}}
{{- $control := (.Get "control" | default "img" ) -}}
{{- $loadingImg := (.Get "loadingImg" | default "/images/loading.gif") -}}

<div class="gallery">
    <div class="overlay">
        <img src="{{ $loadingImg }}" alt="Loading">
    </div> <!-- .overlay -->
    <div class="gallery-inner">
    {{ range $url := (split (.Get "urls" | default "") ",")  }}
        {{ if eq $control "img" }}
        <div class="gallery-item {{ $width }}" url="{{ $url }}">
        {{ else }}
        <div class="gallery-item {{ $width }}">
            {{ if eq $control "video" }}
            <video controls><source src="{{ $url }}" type="video/mp4"></video>
            {{ else if eq $control "youtube" }}
                {{ $.Page.RenderString (printf "{{< youtube %s >}}" $url) }}
            {{ else if eq $control "wistia" }}
                {{ $.Page.RenderString (printf "{{< wistia %s >}}" $url) }}
            {{ else }}
            <p>Unsupported control {{ $control }}</p>
            {{ end }}
        {{ end }}
        </div> <!-- .gallery-item -->
    {{ end }}
    </div> <!-- .gallery-inner -->
    <button class="carousel-control carousel-control-prev" type="button" tabindex="0">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control carousel-control-next" type="button" tabindex="0">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div> <!-- .gallery -->
