{{ if .Get "href" }}
<a href='{{ if hasSuffix (.Get "href") ".md" }}{{ relref . (.Get "href") }}{{ else }}{{ .Get "href" }}{{ end }}'>
{{ end }}
    <div class="highlight card">
        {{ if .Get "img" }}
        <img src='{{ .Get "img" }}' class="card-img-top" alt="Thumbnail" {{ if .Get "aspectRatio" }}style="aspect-ratio:{{ .Get "aspectRatio" }}"{{ end }}>
        {{ end }}
        <div class="card-body">
            {{ if .Get "date" }}<span class="date">{{ .Get "date" }}</span> {{ end }}
            {{ if .Get "tag" }}<span class="badge" {{ if .Get "tagColor" }} style="background:{{ .Get "tagColor" }}"{{ end }}>{{ .Get "tag" }}</span>{{ end }}
            <h6 class="card-title">{{ .Get "name" }}</h6>
            <p class="card-text">{{ .Get "desc" }}</p>
        </div> <!-- .card-body -->
    </div> <!-- .card -->
{{ if .Get "href" }}
</a>
{{ end }}
