<div class="map">
    <div id="mapbox"></div> <!-- #mapbox -->
</div> <!-- .map -->
<script src="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css" rel="stylesheet" />
<script>
    mapboxgl.accessToken = '{{ .Get "token" }}'
    let isDarkMode = getCurrentTheme() == "dark",
        map = new mapboxgl.Map({
            container: 'mapbox',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [{{ float (.Get "longitude") }}, {{ float (.Get "latitude") }}],
            zoom: {{ int (.Get "zoom") }},
            style: isDarkMode ? 'mapbox://styles/mapbox/dark-v11' : 'mapbox://styles/mapbox/streets-v12'
        }),
        nav = new mapboxgl.NavigationControl(),
        scale = new mapboxgl.ScaleControl({
            maxWidth: 80,
            unit: "imperial"
        })
    map.addControl(nav, "top-left")
    map.addControl(scale)
    scale.setUnit("metric")
</script>
