<ul class="list-inline research-filter">
  <li class="list-inline-item active">
    <a href="javascript:void(0)">All</a>
  </li>
{{ range $value := (split (.Get "values" | default "") ",")  }}
  {{ if (gt (len $value) 0)}}
  <li class="list-inline-item">
    <a href="javascript:void(0)">{{ (trim $value " ") }}</a>
  </li>
  {{ end }}
{{ end }}
</ul>
<script>
  $(".research-filter a").click(function() {
    $(".research-filter li").removeClass("active")
    $(this).parent().addClass("active")

    let itemClass = "{{ .Get "class" | default "research" }}", 
        attr = "{{ .Get "attr" | default "tags" }}", 
        filter = $(this).text()

    if (filter === "All") {
      $(".%s".format(itemClass)).slideDown()
    } else {
      $(".%s".format(itemClass)).hide()
      $(".%s[%s*='%s']".format(itemClass, attr, filter)).slideDown()
    }
  })
</script>