<div class="research" tags="{{ .Get "tags" }}">
  <div class="row">
    <div class="images col-xl-3 col-lg-4 col-md-6">
        <img src='{{ .Get "img" | default "http://via.placeholder.com/640x360" }}' alt="Highlight Image">
        {{ if .Get "oimg" }}
        <div class="overlay">
          <img src='{{ .Get "oimg" }}' alt="Overlay Highlight Image">
        </div> <!-- .overlay -->
        {{ end }}
    </div> <!-- .images -->
    <div class="col-xl-9 col-lg-8 col-md-6">
      <h6>{{ .Get "title" | default "Unknown title" }}</h6>
      <ul class="list-inline authors">
      {{ range $author := (split (.Get "authors" | default "Unknown authors") ",")  }}
        <li class="list-inline-item">
        {{ if eq (trim $author " *#") site.Params.Research.Author }}
          <strong>{{ $author }}</strong>
        {{ else }}
          {{ $author }}
        {{ end }}
        </li>
      {{ end }}
      </ul>
      <p>{{ if .Get "journal" }}{{ .Get "journal" }}{{ else if .Get "conf" }}{{ .Get "conf" }}{{ else }}{{ end }}</p>
      <ul class="list-inline links">
      {{ if .Get "pdf" }}
        <li class="list-inline-item"><a href='{{ .Get "pdf" }}' target="_blank">PDF</a></li>
      {{ end }}
      {{ if .Get "project" }}
        <li class="list-inline-item"><a href='{{ if hasSuffix (.Get "project") ".md" }}{{ relref . (.Get "project") }}{{ else }}{{ .Get "project" }}{{ end }}' target="_blank">Project Page</a></li>
      {{ end }}
      {{ if .Get "code" }}
        <li class="list-inline-item"><a href='{{ .Get "code" }}' target="_blank">Code</a></li>
      {{ end }}
      {{ if .Get "demo" }}
        <li class="list-inline-item"><a href='{{ .Get "demo" }}' target="_blank">Demo</a></li>
      {{ end }}
      </ul>
    </div> <!-- .col-xl-3 -->
  </div> <!-- .row -->
</div> <!-- .research-card -->
