{{- $video_id := or (.Get "id") (.Get 0) }}

<script src="https://fast.wistia.com/player.js" async></script>
<script src="https://fast.wistia.com/embed/{{ $video_id }}.js" async type="module"></script>
<style>
wistia-player[media-id='{{ $video_id }}']:not(:defined) {
    background: center / contain no-repeat url('https://fast.wistia.com/embed/medias/{{ $video_id }}/swatch');
    display: block; filter: blur(5px);
    padding-top:56.25%;
}
</style> 
<wistia-player media-id="{{ $video_id }}"></wistia-player>
